@import "tailwindcss";
@font-face {
  font-family: myfont;
  src: url(../src/assets/fonts/ClashGrotesk-Medium.otf);
}

*{
  font-family: myfont;
}

.landing{
  width: 100vw;
  height: 100vh;
  background: url(../src/assets/images/church_pic.jpg) rgba(0, 0, 0, 0.778);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.vision{
  width: 100vw;
  height: 70vh;
  background: url(../src/assets/images/vision22.jpg) rgba(12, 68, 3, 0.616);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  padding: 30px;
}